/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2016, 12:44:53 PM
    Author     : Tyler
*/

html, body {
    margin: 0;
    height: 100%;
    background-image: url("/assets/pictures/nasdaq_studio.jpg");
    background-size:100%;
    background-color: black;
    background-repeat: no-repeat;
}

ul.dropdown-menu {
    left: 50% !important;
    margin-left: -70px;
}

.footer-text {
    color:white; 
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 5%;
}

.navbar {
    margin-bottom: 2%;
}

.cell {
    text-align: center;
}

#bg {
    
}

div#content {
    width:80%;
    background-color: white;
    margin: 0 auto;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 7%;
    vertical-align: middle;
}
