/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2016, 12:44:53 PM
    Author     : Tyler
*/

.footer-text {
    color:white; 
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.cell {
    text-align: center;
}

#bg {
    background-image: url("/assets/pictures/nasdaq_studio.jpg");
    height:100%;
}

div#content {
    width:80%;
    background-color: white;
    margin: 0 auto;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 20px;
}
